@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --pad-scrollbar: 0px;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: theme(colors.grey.DEFAULT / 10%) theme(colors.beige.DEFAULT);
    cursor: none !important;
  }
  *::-webkit-scrollbar-track {
    @apply bg-dynamic-beige;
  }
  *::-webkit-scrollbar-thumb {
    @apply bg-dynamic-[grey_10];
  }
  *::selection {
    @apply bg-dynamic-[grey_80] text-dynamic-beige;
  }

  html {
    @apply bg-dynamic-beige;
  }
  html.lenis,
  html.lenis body {
    height: auto;
  }

  body {
    @apply unhoverable:min-w-80 hoverable:min-w-[calc(20rem-0.6875rem)] antialiased;
    @apply min-w-full text-dynamic-grey font-helveticaNeue body;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }

  @media (prefers-color-scheme: dark) {
    * {
      scrollbar-color: theme(colors.beige.DEFAULT / 10%) theme(colors.grey.DEFAULT);
    }
  }
}

@layer components {
  .hero-roles {
    counter-reset: roles;
  }

  .hero-roles p::before {
    display: inline;
    margin-right: 1ch;
    counter-increment: roles;
    content: '(' counter(roles) ')';
  }
}
