$screen-min-mobile: 320;
$screen-min-mobile-1: 414;
$screen-min-tablet: 744;
$screen-min-desktop: 1280;

$color-white: #ffffff;
$color-black: #000000;

$space-x: 1.8125rem;
$space-y: 1.8125rem;

@function withPx($number) {
  @return $number * 1px;
}

@mixin typography() {
  @layer base {
    * {
      a {
        color: $color-white;
      }

      .truncate {
        // display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        min-width: 0;
      }

      html,
      body,
      div,
      span,
      applet,
      object,
      iframe,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      blockquote,
      pre,
      a,
      abbr,
      acronym,
      address,
      big,
      cite,
      code,
      del,
      dfn,
      em,
      img,
      ins,
      kbd,
      q,
      s,
      samp,
      small,
      strike,
      strong,
      sub,
      sup,
      tt,
      var,
      b,
      u,
      i,
      center,
      dl,
      dt,
      dd,
      ol,
      ul,
      li,
      fieldset,
      form,
      label,
      legend,
      table,
      caption,
      tbody,
      tfoot,
      thead,
      tr,
      th,
      td,
      article,
      aside,
      canvas,
      details,
      embed,
      figure,
      figcaption,
      footer,
      header,
      hgroup,
      menu,
      nav,
      output,
      ruby,
      section,
      summary,
      time,
      mark,
      audio,
      video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
      }
    }
  }
}

@mixin dimension() {
  @layer base {
    :root {
      --space-x: #{$space-x};
      --space-y: #{$space-y};

      @media screen and (min-width: withPx($screen-min-tablet)) {
        --space-x: 2.75rem;
        --space-y: 3.25rem;
      }

      @media screen and (min-width: withPx($screen-min-desktop)) {
        --space-x: 3.25rem;
        --space-y: 2.3125rem;
      }
    }
  }
}

@mixin defaultValue() {
  @layer base {
    * {
      transition-property: none;
      transition-duration: 0.1s;
      transition-timing-function: ease-in-out;
    }
  }
}
