@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --scrollbar-dimension: 11px;
  }

  * {
    scrollbar-width: thin; /* 11px */
    scrollbar-color: theme(colors.grey.DEFAULT / 10%) theme(colors.beige.DEFAULT);
  }

  *::-webkit-scrollbar {
    width: var(--scrollbar-dimension);
    height: var(--scrollbar-dimension);
  }

  *::-webkit-scrollbar-track {
    background-color: theme(colors.beige.DEFAULT);
  }

  *::-webkit-scrollbar-thumb {
    background-color: theme(colors.grey.DEFAULT / 10%);
  }

  *::selection {
    @apply bg-grey-dynamic-[80] text-beige-dynamic-[];
  }

  html {
    @apply bg-beige-dynamic-[];
  }

  html.lenis,
  html.lenis body {
    height: auto;
  }

  body {
    @apply unhoverable:min-w-80 hoverable:min-w-[calc(20rem-0.6875rem)] antialiased min-w-full body-normal text-grey-dynamic-[] font-helvetica-neue 2xl:text-[1.125rem];
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }

  @media (prefers-color-scheme: dark) {
    * {
      scrollbar-color: theme(colors.beige.DEFAULT / 10%) theme(colors.grey.DEFAULT);
    }

    *::-webkit-scrollbar-track {
      background-color: theme(colors.grey.DEFAULT);
    }

    *::-webkit-scrollbar-thumb {
      background-color: theme(colors.beige.DEFAULT / 10%);
    }
  }
}
